// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

ul {
    list-style-type: none;
    padding-left: 0;
}

ul.sublist {
    margin-left: 25px;
}

.btn-collapse:not(.collapsed) {
    transform: rotate(90deg);
}

input[type="checkbox"] {
    border-radius: 2rem !important;
}

.w-80 {
    width: 80% !important;
}

.w-20 {
    width: 20% !important;
}

.task-input {
    width: 455px !important;
    padding: 10px !important;
}

.task:hover {
    .control-buttons {
        display: block !important;
    }

    .btn-collapse {
        visibility: visible;
    }
}

.control-buttons {
    display: none !important;
}

.btn-collapse {
    visibility: hidden;
}

button[aria-expanded="true"] {
    visibility: visible !important;
}

.visible {
    visibility: visible !important;
}

body.dragging,
body.dragging * {
    cursor: move !important;
}

.dragged {
    position: absolute;
    opacity: 0.5;
    z-index: 2000;
}

ol.example li.placeholder {
    position: relative;
    /** More li styles **/
}
ol.example li.placeholder:before {
    position: absolute;
    /** Define arrowhead **/
}
