// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

ul {
    list-style-type: none;
    padding-left: 0;
}

ul.sublist {
    margin-left: 25px;
}

.btn-collapse:not(.collapsed) {
    transform: rotate(90deg);
}
