// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Playwrite+AR:wght@100..400&display=swap");

// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

ul {
    list-style-type: none;
    padding-left: 0;
}

ul.sublist {
    margin-left: 25px;
}

.btn-collapse:not(.collapsed) {
    transform: rotate(90deg);
}

#tasks {
    input[type="checkbox"] {
        border-radius: 2rem !important;
    }
}

.w-80 {
    width: 80% !important;
}

.w-20 {
    width: 20% !important;
}

.task-input {
    width: 455px !important;
    padding: 10px !important;
}

.task:hover {
    .control-btn {
        visibility: visible !important;
    }

    .btn-collapse {
        visibility: visible;
    }
}

.control-btn {
    visibility: hidden !important;
}

.btn-collapse {
    visibility: hidden;
}

button[aria-expanded="true"] {
    visibility: visible !important;
}

.visible {
    visibility: visible !important;
}

.move-btn {
    margin-left: -20px;
    :hover {
        cursor: grab;
    }
}

ul.active {
    border: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
    border-radius: var(--bs-border-radius);
}
